@tailwind base;
@tailwind components;
@tailwind utilities;
 
 th, td{
  padding: 0.6rem;
  text-align: left;
  font-weight: normal;
}

thead {
  border-top: solid 1px #202224;
  border-bottom: solid 1px #202224;
}

tbody {
  border-bottom: solid 1px #202224;
}